// Primary Colours
$introDarkBlue: hsl(217, 28%, 15%);
$mainDarkBlue: hsl(218, 28%, 13%);
$footerDarkBlue: hsl(216, 53%, 9%);
$testimonialsDarkBlue: hsl(219, 30%, 18%);

// Accent Colours
$blue: hsl(198, 60%, 50%); // Inside CTA Gradient
$cyan: hsl(176, 68%, 64%); // Inside CTA Gradient
$red: hsl(0, 100%, 63%); // Error

// Neutral Colour
$white: hsl(0, 0%, 100%);

// Fonts
$raleway: "Raleway", sans-serif;
$openSans: "Open Sans", sans-serif;

// Font Weights
$normal: 400;
$bold: 700;
